# vi: set ft=yaml :
influxdb:
  version: 0.9.1
  bind-address: 0.0.0.0
  logging:
    level: info
    directory: /var/log/influxdb
  admin:
    port: 8083
  api:
    port: 8086
  raft:
    port: 8090
  protobuf:
    port: 8099
